<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/laboratorio_01/src/atividade03/TestePopulacao.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="atividade03.TestePopulacao"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="laboratorio_01"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="laboratorio_01"/>
</launchConfiguration>
